/* ---Colors ---*/
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings-and-btn-hover: #1b0760;
  --color-body-text: #5c5577;
  --color-icons-container-bg: #f3f9fa;
  --color-borders:#ccc;
  --border-radius:30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* ---Tyoography--- */
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", arial, sans-serif;
  color: var(--color-body-text);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-headings-and-btn-hover);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* ---Links--- */
a {
  text-decoration: none;
  font-size: 2rem;
  color: #d2d0db;
  font-weight: 400;
}
.arrow-link {
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: 700;
}
.arrow-link::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.4s ease;
}
.arrow-link:hover::after {
  margin-left: 12px;
}
.nav-links {
}
.footer-links {
}

@media screen and (min-width: 1024px) {
  .arrow-link {
    font-size: 1.5rem;
  }
  .nav-links {
    font-size: 1.6rem;
  }
  .footer-links {
    font-size: 1.8rem;
  }
}

/* ---Badges--- */
.badge {
  border-radius: 2rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.small--badge {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 1.7rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.2rem;
  }
  .small--badge {
    font-size: 1.2rem;
    padding: 0.5rem 1.1rem;
  }
}

/* ---Lists--- */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings-and-btn-hover);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--vertical {
  list-style-image: url("../icons/tick.svg");
  padding-left: 3rem;
}
.list--vertical .list__item {
  padding-left: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--inline .list__item {
    padding-left: 0.5rem;
  }
}

/* ---Icons--- */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--secondary {
  fill: var(--color-secondary);
}
.icon-contaner {
  align-items: center;
  background-color: var(--color-icons-container-bg);
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: 1rem;
}

/* ---Buttons--- */
.btn {
  border:0.5px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 2rem 0;
  padding: 1.5rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--white {
  background-color: #fff;
  color: var(--color-headings-and-btn-hover);
  border: var(--color-headings-and-btn-hover) solid 1px;
}

.btn--white:hover {
  background-color: var(--color-headings-and-btn-hover);
  color: #fff;
}
.btn--accent {
  background-color: var(--color-accent);
  color: #000;
}
.btn--accent:hover {
  background-color: #ec3000;
  color: #000;
}
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background-color: #3a8ffd;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #00c8eb;
}
.btn--streached {
  padding: 2rem 4rem;
}
.btn--box {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* ---Inputs--- */
.input{
    border: 1px solid var(--color-borders);
    border-radius: var(--border-radius);
    color:var(--color-headings-and-btn-hover);
    flex-grow:1;
    font-size: 2rem;
    line-height: 1.15;
    padding: 1.5rem 2rem;
}
::placeholder{
    color: var(--color-borders);
}
.input-group{
    border: 1px solid var(--color-borders);
    border-radius: var(--border-radius);
    display: flex;
    margin: 0 ;
    padding: 0 ;
}
.input-group .input{
    border: 0px;
    flex-grow:1;
}
.input-group .btn{
    margin: 1px;
}

/* ---Cards--- */

.cards-contaner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.card{
  background-color: #fff;
  border-radius: 10px;
  width: 475px;
  height: auto;
  margin:25px;
  box-shadow:0 0 7px 2px #ddd;
  transition: transform 0.4s ease;
} 
.card:hover{
  transform: scale(107%);
}

.card__header{
  border-radius: 10px 10px 0 0;
  padding: 20px 40px ;
  width: 100%;
}
.card--praimary .card__header{
  background-color: var(--color-primary);
}
.card--secondary .card__header{
  background-color: var(--color-secondary);
}
.plan__name{
  color:#fff;
  font-size:2.4rem;
  font-style: normal;
  font-weight: 500;
  margin: 0;

}
.card__price-contaner{
  margin: 0;
  padding:0;
}
.plan__price{
  color:#fff;
  font-size:4.6rem;
  font-weight: 400;
}
.plan__piling-cycle{
  color:#CCF7FF;
  font-size:2.2rem;
  font-weight: 300;

}
.card__badge.badge--secondary{
  background-color:#00C8EB;
}
.card__badge.badge--primary{
  background-color:#3A8FFD;
}
.plan__desciption{
  color:#CCF7FF;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0;
}

.card__body{
  padding:10px 40px;
}
.card__body .list__item{
  color:var(--color-body-text);
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
}
.card__body .list{
  margin-bottom: 0;
}
.card__btn{
  margin-top: 0;
}


@media screen and (min-width:1024px){
  .cards-contaner{
    margin: 0;
    padding: 0 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: relative;
    left: -50px;
  }
  .card{
    width: auto;
    margin:50px 0;
    padding:0;
  }
  .card--secondary{
    transform: scale(90%);
    transition: transform 0.4s ease;
  }
  .card--praimary{
    transform: scale(96%);
    transition: transform 0.4s ease;
  }
  .card--secondary:hover{
    transform: scale(99%);
  }
  .card--praimary:hover{
    transform: scale(105%);
  }

}