<section class="cards-contaner">
      <div class="card card--secondary">
           <div class="card__header">
               <h3 class="plan__name">Entry</h3>
               <div class="card__price-contaner">
                 <span class="plan__price">$14</span>
                 <span class="plan__piling-cycle">/month</span>
                 <span class="badge badge--small card__badge badge--secondary">10% OFF</span>
               </div>
               <span class="plan__desciption">Easy start on the cloud</span>
            </div>
            <div class="card__body">
              <ul class="list list--vertical">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3GB RAM</li>
              </ul>
              <div class="card__btn">
                <button class="btn btn--white btn--box">BUY NOW</button>
              </div>
            </div>
      </div>
      <div class="card card--praimary">
           <div class="card__header">
               <h3 class="plan__name">Business</h3>
               <div card__price-contaner>
                 <span class="plan__price">$24</span>
                 <span class="plan__piling-cycle">/month</span>
                 <span class="badge badge--small card__badge badge--primary">20% OFF</span>
               </div>
               <span class="plan__desciption">Optimal Cloud Experience</span>
            </div>
            <div class="card__body">
              <ul class="list list--vertical">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3GB RAM</li>
                <li class="list__item">2 CPU Cores</li>
              </ul>
              <div class="card__btn">
                <button class="btn btn--primary btn--box">BUY NOW</button>
              </div>
            </div>
      </div>
      <div class="card card--secondary">
           <div class="card__header">
               <h3 class="plan__name">Business Plus</h3>
               <div card__price-contaner>
                 <span class="plan__price">$54</span>
                 <span class="plan__piling-cycle">/month</span>
                 <span class="badge badge--small card__badge badge--secondary">10% OFF</span>
               </div>
               <span class="plan__desciption">Easy start on the cloud</span>
            </div>
            <div class="card__body">
              <ul class="list list--vertical">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3GB RAM</li>
                <li class="list__item">2 CPU Cores</li>
              </ul>
              <div class="card__btn">
                <button class="btn btn--white btn--box">BUY NOW</button>
              </div>
            </div>
      </div>
    </section>