<div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2>contact us</h2>
        <span class="icon-contaner collapsible__icon-contaner">
          <svg class="icon collapsible__icon">
            <use xlink:href="icons/chevron.svg"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list list--vertical">
          <li class="list__item">item 1</li>
          <li class="list__item">item 1</li>
          <li class="list__item">item 1</li>
          <li class="list__item">item 2</li>
          <li class="list__item">item 3</li>
        </ul>
      </div>
    </div>