 <!-- ==================== Features Section ==================== -->
    <section class="features-container container block">
      <!-- Section Header -->
      <div class="block__centerd-item">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
          voluptatem.
        </p>
      </div>

      <!-- ========== Feature 1: Easy to Use ========== -->
      <div class="block grid grid--1x2">
        <!-- Text Content -->
        <div class="grid__column " data-aos="fade-up">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#easy"></use>
            </svg>
          </span>
          <h2 class="block__head">Super Easy to Use</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sunt.
          </p>
          <a class="arrow-link" href="#">Learn More →</a>
        </div>

        <!-- Image Content -->
        <div class="grid__column " data-aos="fade-up">
          <picture>
            <source
              type="image/jpg"
              srcset="images/easy.jpg 1x, images/easy@x2.jpg 2x"
            />
            <img
              class="card__img"
              src="images/easy.jpg"
              alt="Easy to use interface"
            />
          </picture>
        </div>
      </div>

      <!-- ========== Feature 2: Fast Websites ========== -->
      <div class="block grid grid--1x2 feature--revrse">
        
        <!-- Image Content -->
        <div class="grid__column " data-aos="fade-up">
          <picture>
            <source
              type="image/jpg"
              srcset="images/fast.jpg 1x, images/fast@x2.jpg 2x"
            />
            <img
              class="card__img"
              src="images/fast.jpg"
              alt="Fast website loading"
            />
          </picture>
        </div>
        
        <!-- Text Content -->
        <div class="grid__column " data-aos="fade-up">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#computer"></use>
            </svg>
          </span>
          <h2 class="block__head">Super Fast Websites</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sunt.
          </p>
          <a class="arrow-link" href="#">Learn More →</a>
        </div>

      </div>

      <!-- ========== Feature 3: WordPress Made Easy ========== -->
      <div class="block grid grid--1x2">
        <!-- Text Content -->
        <div class="grid__column " data-aos="fade-up">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#wordpress"></use>
            </svg>
          </span>
          <h2 class="block__head">WordPress Made Easy</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sunt.
          </p>
          <a class="arrow-link" href="#">Learn More →</a>
        </div>

        <!-- Image Content -->
        <div class="grid__column " data-aos="fade-up">
          <picture>
            <source
              type="image/jpg"
              srcset="
                images/wordpress_edited.jpg    1x,
                images/wordpress_edited@x2.jpg 2x
              "
            />
            <img
              class="card__img"
              src="images/wordpress_edited.jpg"
              alt="WordPress dashboard"
            />
          </picture>
        </div>
      </div>

      <!-- ========== Feature 4: 24/7 Support ========== -->
      
      
      <div class="block grid grid--1x2 feature--revrse">
        
        <!-- Image Content -->
        <div class="grid__column " data-aos="fade-up">
          <picture>
            <source
              type="image/jpg"
              srcset="images/fast.jpg 1x, images/fast@x2.jpg 2x"
            />
            <img
              class="card__img"
              src="images/fast.jpg"
              alt="Fast website loading"
            />
          </picture>
        </div>
      
        
        <!-- Text Content -->
        <div class="grid__column " data-aos="fade-up">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#clock"></use>
            </svg>
          </span>
          <h2 class="block__head">24/7 Expert Support</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sunt.
          </p>
          <a class="arrow-link" href="#">Learn More →</a>
        </div>
      </div>
</section>