<footer class="block block--dark">
      <div class="contaner footer-section">
        <div class="block__centerd-item">
          <img src="images/logo.png" />
          <p>Copyright 2020 Mosh Hamedani</p>
        </div>
        <div class="footer__body">
          <!-- Footer Products List -->
          <div class="footer__block">
            <ul class="list list--vertical">
              <ul class="list__item">
                <h2 class="block__head">PRODUCTS</h2>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">WordPress Hosting</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Free Automated WordPress</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Migrations</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Domain Names</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Monthly Web Hosting</a></p>
              </ul>
            </ul>
            <svg class="icon icon--dark">
              <use xlink:href="icons/chevron.svg"></use>
            </svg>
          </div>
          <!-- Footer Company List -->
          <div class="footer__block">
            <ul class="list list--vertical">
              <ul class="list__item">
                <h2 class="block__head">COMPANY</h2>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">About</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Affiliates</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Blog</a></p>
              </ul>
            </ul>
            <svg class="icon icon--dark icon--hidable">
              <use xlink:href="icons/chevron.svg"></use>
            </svg>
          </div>
          <!-- Footer Support List -->
          <div class="footer__block">
            <ul class="list list--vertical">
              <ul class="list__item">
                <h2 class="block__head">Support</h2>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Contact</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Knowledge Base</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">FAQ</a></p>
              </ul>
            </ul>
            <svg class="icon icon--dark">
              <use xlink:href="icons/chevron.svg"></use>
            </svg>
          </div>
          <!-- Footer Domains List -->
          <div class="footer__block">
            <ul class="list list--vertical">
              <ul class="list__item">
                <h2 class="block__head">DOMAINS</h2>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Domain Checker</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Domain Transfer</a></p>
              </ul>
              <ul class="list__item footer-links">
                <p><a href="#">Free Domain</a></p>
              </ul>
            </ul>
            <svg class="icon icon--dark">
              <use xlink:href="icons/chevron.svg"></use>
            </svg>
          </div>
        </div>
      </div>
    </footer>