<div class="media">
      <div class="media__img-contaner">
       <svg class="icon icon--primary">
        <use xlink:href="icons/sprite.svg#growth"></use>
       </svg>
      </div>
      <div class="media__text-contaner">
        <h3 class="media__heading">Easy Start & Managed Updates</h3>
        <p class="media__paragraph">
          Our cloud plans include easy onboarding for new and existing sites and
          managed WordPress and WooCommerce auto-updates.
        </p>
      </div>
    </div>