<section class="nav-bar block--dark">
      <div class="nav-bar__logo">
        <span>
          <svg class="icon icon--logo">
            <use xlink:href="images/logo.svg"></use>
          </svg>
        </span>
        <a class="block__header">Moshfy</a>
      </div>  
      <span>
          <svg class="icon icon--dark">
            <use xlink:href="icons/sprite.svg#menu"></use>
          </svg>
      </span>
        <ul class="list--inline">
          <li class="list__item"><a href="#">Hosting</a></li>
          <li class="list__item"><a href="#">VPS</a></li>
          <li class="list__item"><a href="#">Domain</a></li>
          <li class="list__item"><a href="#">Pricing</a></li>
        </ul>
    </section>