<div class="quotes">
      <div class="qoute__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, soluta
        architecto! Ratione quis nobis architecto porro omnis tempora soluta
        voluptatibus ad? Esse dignissimos eveniet culpa et fuga aperiam illo
        expedita enim, neque qui, architecto nihil dicta. Dignissimos, ab quod
        veritatis totam repudiandae voluptatum alias aliquam eius aut corrupti
        dolor possimus.
      </div>
      <div class="quote__author">
        <svg class="icon">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
        <div class="quote__author__text-contaner">
        <div class="quote__author__name">Jhone Lumeo</div>
        <div class="quote__author__discreption">Mosh Company CEO</div>
        </div>
      </div>
</div>